<h1>AUTEUR</h1>
<ul>
  <li><%= @auteur.first_name%> <%= @auteur.last_name%>
    <ul><li>age : <%= @auteur.age%> ans</li>
      <li>email : <%= @auteur.email%></li>
      <li>+info : <%= @auteur.description%></li>
    </ul>
  </li>
</ul>
